<app-bug-stats [list]="bugs"></app-bug-stats>
<section class="sort">
    <label for="">Order By :</label>
    <select [(ngModel)]="sortAttr">
        <option value="">---Select---</option>
        <option value="id">Id</option>
        <option value="name">Name</option>
        <option value="isClosed">Status</option>
        <option value="createdAt">Created</option>
    </select>
    <label for="">Descending ? :</label>
    <input type="checkbox" [(ngModel)]="sortDesc">
</section>
<app-bug-edit (created)="onNewBugCreated($event)"></app-bug-edit>
<section class="list">
    <ol>
        <li *ngFor="let bug of ( bugs | sort:sortAttr:sortDesc ) ">
            <span 
                class="bugname" 
                (click)="onBugNameClick(bug)"
                [ngClass]="{closed : bug.isClosed}"
            >
                {{bug.name | trimText:40}}
            </span>
            <small> - [{{bug.id}}]</small>
            <div class="datetime">{{bug.createdAt}}</div>
            <input type="button" value="Remove" (click)="onRemoveClick(bug)">
        </li>
    </ol>
    <input type="button" value="Remove Closed" (click)="onRemoveClosedClick()">
</section>
