<h3>Products</h3>
<hr>

<div *ngIf="productNames.length > 0">
    <span>Count : </span>
    <span> {{productNames.length}} </span>
</div>

<label for="">Product Name :</label>
<input type="text" [(ngModel)]="newProductName">
<input type="button" value="Add Product" (click)="onAddProductClick()"> 

<!-- display the following div only when there are no products -->
<div *ngIf="productNames.length === 0; else productsList">
    No products to display!
</div>

<!-- display the following list only when there are products -->
<ng-template #productsList>
    <ul>
        <li *ngFor="let productName of productNames">
            <span style="margin-right : 10px">{{productName}}</span>
            <span> <input type="button" value="Remove" (click)="onRemoveClick(productName)"> </span>
        </li>
    </ul>
</ng-template>
